header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 9.6rem;
    border-bottom: 0.15rem solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    .container {
        @include flex(row, center, space-between);
    }
    .left-container {
        display: flex;
        align-items: center;
        .logo {
            position: relative;
            &:after {
                content: '';
                width: 4.3rem;
                border-top: .2rem solid $primary-default;
                position: absolute;
                left: 0;
                bottom: -2.9rem;
            }
        }
        nav {
            margin-left: 11.2rem;
            ul {
                display: flex;
                align-items: center;
                li {
                    &:not(:first-child) {

                        margin-left: 3.4rem;
                    }

                    a{
                        display: flex;
                        align-items: center;
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                        text-align: center;
                        transition: color .3s;
                        
                        img {
                            margin-left: 1.4rem;
                            transition: transform .3s;
                        }
                        &.active {
                            color: $primary-default;
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
    .right-container {
        display: flex;
        align-items: center;
        .btn {
         &:not(:first-child) {
            margin-left: 1.6rem;
         }
        } 
      .btn-mobile {
        display: none;
      }
    }
   
    @media (max-width: 991px) {
       .left-container {
        nav {
            display: none;
        }
       } 
       .right-container {
        .btn-mobile {
            display: block;
            margin-left: 8.9rem;
       }
       }
    


    }
    @media (max-width: 560px) {
        height: 8rem;
        .left-container {
            .logo {
                max-width: 6.9rem;
            }
        }
        .right-container {
            .btn {
              display: none;
             }
            }
    }

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: linear-gradient(180deg, #020203 0%, rgba(14, 17, 23, 0.92) 96.35%, rgba(14, 17, 23, 0.9) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    width: 100%;
    padding-top: 9.6rem;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    transform: translateY(-100%);
    &.active {
        opacity: 1;
        transform: translateY(0%);
        pointer-events: all;
        transition: all .3s;
    }
    &.esportes {
        .area-menu {
            ul {
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 6.4rem; 
                li {
                    a {
                        width: 100%;
                        height: 23.7rem;

                        .icon {
                            width: 100%;
                            height: 17.9rem;
                        }
                    }
                }
            }
        }
    }
    .area-menu {
        padding-top: 3.8rem;
        padding-bottom: 5.8rem;
        ul {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 2.8rem 3.2rem;
            li {
                a {
                  width: 17.6rem;
                  height: 17.6rem;
                  @include flex(column, center, center);
                  .icon {
                    width: 6.94rem;
                    height: 6.94rem;
                    @include flex(row, center, center);
                    margin-bottom: .86rem;
                  }
                  span {
                    display: block;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 120%;
                    color: #9d9d9d;
                  }
                }
            }

        }
    }
    .footer-menu {
        width: 100%;
        height: 7rem;
        background: rgba(21, 23, 27, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            li {
                &:not(:first-child) {
                    margin-left: 6.4rem;
                }
                a {
                    display: flex;
                    align-items: center; 
                    span {
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 2.4rem;
                        text-align: center;
                        margin-left: 1rem;
                        transition: color .3s;
                        &:hover {
                            color: $primary-light;
                        }
                    }
                }
            }
        }

    }
    @media (max-width: 1200px) {
        .area-menu {
            ul {
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 2rem 2rem;
            }
        }
    }

    @media (max-width: 560px) {
        display: none;
    }

}